/* color */
:root {
    --primary-color: #0F2A44;
    --secondary-color: #1F4E79;
    --accent1-color: #2E86C1;
    --accent2-color: #A9CCE3;
    --heading-font: "Open Sans", sans-serif;
}



body {
    background: var(--accent2-color);
    font-family: var(--heading-font);
    margin: 0;
}

header,
footer, 
.card2 h3 {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

/* sizing*/
main {
    padding:  0px 20px;
}

nav {
    align-items: flex-start;
}

/* header*/

header, main{
    font-size: 1.2rem;
}

.logo {
    width: 80px;
}

#name {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: var(--accent2-color);
}

nav a:hover {
    background-color: var(--secondary-color);
}


/*main*/

.card,
.card2 {
    background-color: white;
    border: 2px solid var(--primary-color);
    margin: 10px;
}

.card{
    padding: 20px;
}

.section-cards.list {
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100px;
    margin-bottom: 10px;
}

/*hero second page*/

.hero {
    position: relative;
    width: 100%;
    margin-top: 0;
}

.hero picture,
.hero img {
    width: 100%;
    height: 100%;
}

.hero-text {
    position: absolute;
    inset: 0;
    padding: 1.5rem;
}

.hero-text h1 {
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
}

.hero button{
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 0.75rem 1.25rem;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

/* cards second page*/

.card2 h3{
    margin-top: 0;
    padding: 0.5rem;
}

.card2 > *:not(h3) {
    margin: 30px;
}

.weather {
    position: relative;
}

.weather .icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2rem;
}

.weather p {
    margin-left: 3rem;
}


#spotlight{
    background-color: var(--primary-color);
    font-size: 1rem;
    margin: 10px;
}