header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.hamburger {
    display: none;
}

/* footer */

footer {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px 60px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}