@media screen and (min-width: 641px) {
.discover-cards {
        grid-template-areas:
            "a b"
            "c d"
            "e f"
            "g h";
    }

}

@media screen and (min-width: 1025px){
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.hamburger {
    display: none;
}

/* cards */

.section-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-cards-home{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

/*JOIN PAGE*/
.layout {
    grid-template-columns: 2fr 1fr;
}

/*DISCOVER PAGE*/
.discover-cards {
    grid-template-columns: 2fr 1fr;
    
}

.section-card img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}
}