header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 80px;
}

nav a {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: var(--accent2-color);
}

nav a:hover {
    background-color: var(--secondary-color);
}

.hamburger {
    display: none;
}

/* footer */

footer {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px 60px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    background-color: white;
    border: 2px solid var(--primary-color);
    padding: 20px;
    margin: 5px;
}