.hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

#nav-menu {
    display: none;
    flex-direction: column;
}

#nav-menu.open {
    display: flex;
}

/* footer */

footer{
    flex-direction: column;
    padding: 10px 20px;
}

footer nav{
    text-align: center;
}

/* main*/
#grid{
    display: none;
}