:root{
    --primary-color: #B11226; 
    --secundary-color: #F2F2F2; 
    --accent1-color: #FFFFFF;
    --accent2-color: #333333;
    --heading-font: "Open Sans", sans-serif;
}

header, footer{
    background-color: var(--primary-color);
    color:var(--accent1-color);
}

main{
    color: var(--accent2-color);
    max-width: 1100px;
    margin: 0 auto;

}

body{
    background-color: var(--secundary-color);
    text-align: center;
}

/*HEADER STYLE*/
header,
main {
    font-size: 1.2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#site-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: var(--secundary-color);
}

nav a:hover {
    background-color: var(--accent2-color);
}

/*FOOTER*/

footer {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px 60px;
}