:root{
    --primary-color: #B11226; 
    --secundary-color: #F2F2F2; 
    --accent1-color: #FFFFFF;
    --accent2-color: #333333;
    --heading-font: "Open Sans", sans-serif;
}

header, footer{
    background-color: var(--primary-color);
    color:var(--accent1-color);
}

main{
    color: var(--accent2-color);
    max-width: 1600px;
    margin: 0 auto;

}

body{
    background-color: var(--secundary-color);
    text-align: center;
}

/*HEADER STYLE*/
header,
main {
    font-size: 1.2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#site-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: var(--secundary-color);
}

nav a:hover {
    background-color: var(--accent2-color);
}

/*FOOTER*/

footer {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px 60px;
}

/*HERO SYTLE*/

.hero {
    position: relative;
    width: 100%;
    margin-top: 0;
}

.hero picture,
.hero img {
    width: 100%;
    height: 100%;
}

.hero h1 {
    position: absolute;
    background-color: var(--primary-color);
    top: 1.5rem;
    left: 0;
    right: 0;
    color: var(--accent1-color);
    padding: 1rem;
    text-align: center;
}

/*CARD SECTION*/

.card img{
    width: 300px;
    height: 265px;
    object-fit: cover;
}

.card {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: 12px;
}



/*FORM*/
.form fieldset {
    margin: 2rem 0;
    border: 1px solid grey;
    padding: .5rem 2%;
}

.form label {
    display: block;
    padding: 1rem 0 0.5rem 0;
}

.form input[type="text"],
[type="email"],
[type="tel"],
.form textarea {
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 500px;
}

button {
    padding: 0.8rem;
    width: 96%;
    max-width: 500px;
    margin: -1rem 2% 2rem 2%;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

/*MODALS*/


dialog {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 20px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

li{
    text-align: left;
}

.close-modal {
    margin: 50px;
}