@media screen and (min-width: 641px) {

/*NAV*/
.hamburger {
        display: none;
    }

/*CARDS*/

.culture-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

    
}

@media screen and (min-width: 1025px) {

/*NAV*/
.hamburger {
        display: none;
    }


/*CARDS*/

.culture-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



}
