@media screen and (min-width: 641px) {

/*NAV*/
.hamburger {
        display: none;
    }

#nav-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/*CARDS*/

.culture-container,
.cards-container {
    display: grid;
    grid-template-columns: 1fr;
}

/*MODALS*/
dialog {
    width: 600px;
    height: 500px;
}

    
}

@media screen and (min-width: 1025px) {

/*NAV*/
.hamburger {
        display: none;
    }


/*CARDS*/

.culture-container,
.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*MODALS*/
dialog {
    width: 800px;
    height: 500px;
}

}
