:root {
    --primary-color: #0F2A44;
    --secondary-color: #1F4E79;
    --accent1-color: #2E86C1;
    --accent2-color: #A9CCE3;
    --heading-font: "Open Sans", sans-serif;
}


body {
    background: var(--accent2-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


#name {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;

}

#name span {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}

nav {
    display: flex;
    align-items: flex-start;
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--accent2-color);
    padding: 8px 12px;
    border-radius: 5px;
}

.logo {
    width: 80px;
}

.name {
    font-weight: bold;
}

.hamburger {
    background: none;
    border: none;
}