:root {
    --primary-color: #0F2A44;
    --secondary-color: #1F4E79;
    --accent1-color: #2E86C1;
    --accent2-color: #A9CCE3;
    --heading-font: "Open Sans", sans-serif;
}


body {
    background: var(--accent2-color);
    font-family: var(--heading-font);
    margin: 0;
}

main{
    padding: 20px;
}

/* aling*/

h2, footer, p{
    text-align: center;
}

nav {
    align-items: flex-start;
}

h2, nav {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* display*/

#name {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#name span {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}

nav {
    display: flex;
    padding: 10px;
}


nav a {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: var(--accent2-color);
}

nav a:hover {
    background-color: var(--secondary-color);
}

.logo {
    width: 80px;
}

.hamburger {
    background: none;
    border: none;
}

.card{
    border: 2px solid var(--primary-color);
    margin: 10px;
}

h2 {
    margin-top: 0;
    padding: 0.5rem;
}

.strong div{
    border: 3px solid var(--primary-color);
    border-radius: 6px;
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;

}

.normal div{
    border: 1px solid var(--primary-color);
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;
}

.footer-info, .normal div, .strong div, .card{
    background-color: #fff;
}