.hamburger {
    font-size: 2rem;
    cursor: pointer;
}

.strong {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-menu {
    display: none;
    flex-direction: column;
}

#nav-menu.open {
    display: flex;
}